#wrap{
    width: 100%;
    #section6{
        width: 100%;
        max-width: 1903px;
        background: url(../img/travel-agency-enjoy.jpg) no-repeat 50% 50% fixed;
        background-size: 100% cover;
        position: relative;
        height: 879.328px;
        .container{
            width: 100%;
            position: relative;
            height: 100%;
            margin: 0 auto;
            display: flex;
                    justify-content: center;
                    overflow: hidden;
            .gap{
                width: 100%;
                height: 100%;
                .title{
                    position: relative;
                    top: 12%;
                    // width: 100%;
                    // height: 100vh;
                    // display: flex;
                    justify-content: center;
                    align-items: center;
                    figure{
                            // width: 100%;
                            position: absolute;
                            z-index: 3;
                            top: -80%;
                            left: 44.2%;
                        img{
                           
                            width: auto;
                        }
                    }
                }
                .content{
                    width: 100%;
                    display: flex;
                    justify-content:end;
                    height: 100%;
                    .right-box{
                        padding: 100px;
                        justify-content:end;
                        position: absolute;
                        z-index: 2;
                        width: 50%;
                        height: 879.31px;
                        background-color: #cd314f;
                        .top{
                            width: 100%;
                            >ul{
                                width: 100%;
                                display: flex;
                                >li{
                                    margin: 37.563px 0 22.531px 30.047px ;
                                    >div{
                                        width: 100%;
                                        h1{
                                            transform: translateY(30px);
                                            color:rgb(230, 175, 42) ;
                                            font-size: 100px;
                                            font-family: 'Oswald';
                                            font-weight: 400;
                                            line-height: 50px;
                                            text-transform: uppercase;
                                        }
                                        h2{
                                            font-size: 38px;
                                            font-family: 'Oswald';
                                            font-weight: 300;
                                            text-transform: uppercase;
                                            color: #fff;
                                            line-height: 54px;
                                            transform: translateY(7px);
                                        }
                                    }
                                }
                            }
                        }
                        .middle{
                            display: flex;
                            width: 100%;
                            div{
                                i{
                                    display: block;
                                        background-color:rgb(230, 175, 42) ;
                                        margin: 52.594px 0;
                                        height: 2px;
                                        width: 30px;
                                }
                                h5{
                                    margin: 0 0 23% 0;
                                    font-size: 20px;
                                    font-weight: 400;
                                    letter-spacing: 3px;
                                    color: #fff;
                                    text-transform: uppercase;
                                    text-align: left;
                                }
                            }
                        }
                        .bottom{
                            display: flex;
                            width: 100%;
                            // position: absolute;
                            // z-index: 5;
                            overflow: hidden;
                            margin: 0 0 0 -15px;
                            ul{
                                display: flex;
                                padding: 0 15px 0 0;
                                li{
                                    width: 33%;
                                    padding: 0 15px;
                                    img{
                                        display: block;
                                        width: 100%;
                                        // height: 230.484px;
                                        // float: left;
                                        // overflow: hidden;
                                        cursor: pointer;
                                    }
                                    .box{
                                        background: #fff;
                                        padding: 30px 10px;
                                        text-align: center;
                                        // align-items: center;
                                        // justify-content: center;
                                        // width: 273.391px;
                                        // height: 276.469px;
                                        span{
                                            font-size: 13px;
                                            font-weight: 600;
                                            letter-spacing: 1px;
                                            line-height: 23px;
                                            text-align: center;
                                            text-transform: uppercase;
                                            align-items: center;
                                            cursor: pointer;
                                            color: #000;
                                        }
                                        p{
                                            font-size: 13px;
                                            font-weight: 400;
                                            letter-spacing: 1px;
                                            text-align: center;
                                            text-transform: uppercase;
                                            line-height: 23px;
                                        }
                                    }
                                }
                            }

                        }
                        

                    }
                }
            }
        }
    }
}