@charset "UTF-8";
*{
  margin : 0;
  padding : 0;
  vertical-align: middle;
  box-sizing: border-box;
}
body{
  background: #f0f0f0;
}
ul{
  list-style: none;
}
#wrap{
  width: 100%;
  padding : 50px 0;
}
#wrap img{
    width: 100%;
}
#wrap .title{
  width : 100%;
  text-align: center;
  padding: 0 0 50px 0;
}
#wrap .title h1{
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  color : #38c;
}
#wrap form{
  width: 100%;
  max-width: 1000px;
  margin : 0 auto;
  padding : 100px;
  background: #fff;
  border : 1px solid #38c;
}
#wrap form ul{
  width: 100%;
}
#wrap form ul li{
  width: 100%;
  padding : 5px 0;
}
#wrap form ul li input{
  width: 100%;
  height : 60px;
  padding : 0 15px;
  border : 1px solid #ddd;
  background: #fcfcfc;
  font-size: 16px;
  border-radius: 3px;
}
#wrap form .button-box{
  width : 250px;
  margin : 0 auto;
  padding : 50px 0 0 0;
}
#wrap form button{
  width: 100%;
  margin : 0 auto;
  height : 60px;
  border : 1px solid #ddd;
  border-radius: 3px;
  background: #39c;
  color : #fff;
  cursor: pointer;
}