@import url(./fonts.css);
@import url(./reset.css);
@import url(./skip.css);
#wrap {
  width: 100%;
}
#wrap #main {
  width: 100%;
  padding: 130px 0;
}
#wrap #main #messageForm {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #messageForm .container {
  width: 100%;
}
#wrap #main #messageForm .container .gap {
  width: 100%;
}
#wrap #main #messageForm .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 15px 100px 15px;
}
#wrap #main #messageForm .container .gap .title h2 {
  font-size: 28px;
  font-weight: 600;
  color: #614c45;
}
#wrap #main #messageForm .container .gap .title span {
  display: block;
  padding: 10px 0 0 0;
}
#wrap #main #messageForm .container .gap .title span img {
  width: auto;
}
#wrap #main #messageForm .container .gap .content {
  width: 100%;
  display: flex;
}
#wrap #main #messageForm .container .gap .content .left-box {
  width: 487.5px;
}
#wrap #main #messageForm .container .gap .content .left-box .col-gap {
  width: 100% 0;
  padding: 0 15px;
}
#wrap #main #messageForm .container .gap .content .left-box .col-gap ul {
  width: 100%;
}
#wrap #main #messageForm .container .gap .content .left-box .col-gap ul li {
  position: relative;
  width: 100%;
  padding: 0 0 60px 90px;
  display: flex;
}
#wrap #main #messageForm .container .gap .content .left-box .col-gap ul li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 45px;
  color: #c8a64b;
  margin: 0 40px 0 0;
}
#wrap #main #messageForm .container .gap .content .left-box .col-gap ul li div h3 {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}
#wrap #main #messageForm .container .gap .content .left-box .col-gap ul li div h4,
#wrap #main #messageForm .container .gap .content .left-box .col-gap ul li div h5 {
  font-size: 14px;
  font-weight: 400;
  color: #626262;
  font-family: "Roboto";
}
#wrap #main #messageForm .container .gap .content .left-box .col-gap ul li div h4 {
  padding: 7px 0;
}
#wrap #main #messageForm .container .gap .content .right-box {
  width: 682.5px;
}
#wrap #main #messageForm .container .gap .content .right-box form ul {
  width: 100%;
}
#wrap #main #messageForm .container .gap .content .right-box form ul li {
  width: 100%;
  padding: 0 0 20px 0;
}
#wrap #main #messageForm .container .gap .content .right-box form ul li input {
  width: 100%;
  height: 48px;
  background: #fff;
  color: #626262;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 15px;
  outline: 2px solid transparent;
  transition: all 0.3s;
  outline-offset: -1px;
}
#wrap #main #messageForm .container .gap .content .right-box form ul li input:focus {
  outline: 2px solid #999;
}
#wrap #main #messageForm .container .gap .content .right-box form ul li select {
  width: 100%;
  height: 48px;
  background: #fff;
  color: #626262;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff url(../img/select-arrow.png) no-repeat 98% 50%;
  background-size: auto auto;
  padding: 0 15px;
}
#wrap #main #messageForm .container .gap .content .right-box form ul li select:focus {
  outline: 0;
}
#wrap #main #messageForm .container .gap .content .right-box form ul textarea {
  width: 100%;
  height: 90px;
  background: #fff;
  color: #626262;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  resize: none;
  outline: 2px solid transparent;
  transition: all 0.3s;
  outline-offset: -1px;
}
#wrap #main #messageForm .container .gap .content .right-box form ul textarea:focus {
  outline: 2px solid #999;
}
#wrap #main #messageForm .container .gap .content .right-box form ul button {
  height: 48px;
  width: auto;
  padding: 0 20px;
  background: #000;
  color: #fff;
  border-radius: 3px;
  border: 2px solid #000;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}
#wrap #main #messageForm .container .gap .content .right-box form ul button:hover {
  background: #fff;
  color: #000;
}