@import url(./fonts.css);
@import url(./reset.css);
@import url(./skip.css);
#wrap {
  width: 100%;
}
#wrap #header {
  width: 100%;
  height: 86px;
  background-color: #93e4cf;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#wrap #header .nav {
  width: 100%;
  height: 100%;
}
#wrap #header .nav .container {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
#wrap #header .nav .container .gap {
  padding: 0 15px;
  width: 100%;
  height: 100%;
}
#wrap #header .nav .container .gap .content {
  width: 100%;
  height: 100%;
}
#wrap #header .nav .container .gap .content ul {
  display: flex;
  align-items: center;
}
#wrap #header .nav .container .gap .content ul li {
  margin: 0 15px;
}
#wrap #header .nav .container .gap .content ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #2e443f;
}
#wrap #header .nav .container .gap .content ul li figure {
  width: 269px;
  height: 86px;
}
#wrap #header .nav .container .gap .content ul li figure img {
  width: 100%;
  height: 100%;
}
#wrap #main {
  z-index: 2;
  position: relative;
  width: 100%;
}
#wrap #main #section1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/wedding-img3.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#wrap #main #section1::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.7);
}
#wrap #main #section1 .container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
#wrap #main #section1 .container .gap {
  width: 100%;
  height: 100%;
}
#wrap #main #section1 .container .gap .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#wrap #main #section1 .container .gap .content figure {
  width: 307px;
  height: 206px;
  padding: 0 0 39.906px 0;
  border-bottom: 4px double rgba(147, 228, 208, 0.5019607843);
}
#wrap #main #section1 .container .gap .content figure img {
  width: 100%;
  height: 100%;
}
#wrap #main #section1 .container .gap .content p {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 30px 0 0 0;
}
#wrap #main #section1 .container .gap .content h2 {
  color: #85d4c0;
  font-size: 24px;
  line-height: px;
}
#wrap #main #section2 {
  width: 100%;
  height: 711.875px;
  padding: 130px 0;
  background: #fff;
}
#wrap #main #section3 {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 346px;
  background: url(../img/wedding-img7.jpg) no-repeat 50% 50% fixed;
  background-size: cover;
}
#wrap #main #section3::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.7);
}
#wrap #main #section3 h1 {
  z-index: 3;
  position: relative;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: 346px;
  color: #85d4c0;
}
#wrap #main #section4 {
  width: 100%;
  padding: 130px 0;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
#wrap #main #section4 .container {
  width: 1179px;
  margin: 0 auto;
}
#wrap #main #section4 .container > .gap {
  width: 100%;
}
#wrap #main #section4 .container > .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
}
#wrap #main #section4 .container > .gap .title h2 {
  display: inline-block;
  color: #e15276;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
#wrap #main #section4 .container > .gap .title h2::before {
  position: absolute;
  left: -60px;
  top: 50%;
  margin-top: 0.5px;
  content: "";
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section4 .container > .gap .title h2::after {
  position: absolute;
  right: -60px;
  top: 50%;
  margin-top: 0.5px;
  content: "";
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section4 .container > .gap .content {
  width: 100%;
}
#wrap #main #section4 .container > .gap .content ul {
  width: 100%;
}
#wrap #main #section4 .container > .gap .content ul:after {
  content: "";
  display: block;
  clear: both;
}
#wrap #main #section4 .container > .gap .content ul li {
  width: 33.33333%;
  float: left;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap {
  padding: 0 15px;
  width: 100%;
  text-align: center;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box {
  width: 100%;
  border: 6px solid #ddd;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .gap {
  width: 100%;
  padding: 60px 70px;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .gap h2 {
  padding: 0 0 15px 0;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .gap h2 i {
  font-size: 60px;
  color: #85d4c0;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .gap h3 {
  font-size: 15px;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .gap hr {
  border: 0;
  background: #ccc;
  width: 100%;
  height: 1px;
  margin: 25px 0;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .gap p {
  color: #85d4c0;
  padding: 0 0 10px 0;
}
#wrap #main #section4 .container > .gap .content ul li .col-gap .box .gap h4 {
  color: #929292;
}
#wrap #main #section5 {
  width: 100%;
  padding: 130px 0;
  background: #fff;
}
#wrap #main #section5 .container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
#wrap #main #section5 .container .gap {
  width: 100%;
}
#wrap #main #section5 .container .gap .title {
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
}
#wrap #main #section5 .container .gap .title h2 {
  display: inline-block;
  color: #e15276;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
#wrap #main #section5 .container .gap .title h2::before {
  position: absolute;
  left: -60px;
  top: 50%;
  margin-top: 0.5px;
  content: "";
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section5 .container .gap .title h2::after {
  position: absolute;
  right: -60px;
  top: 50%;
  margin-top: 0.5px;
  content: "";
  width: 40px;
  height: 1px;
  background: #93e4cf;
}
#wrap #main #section5 .container .gap .content {
  width: 100%;
}
#wrap #main #section5 .container .gap .content .gallery-box {
  width: 1181px;
  margin: 0 0 0 -11px;
  overflow: hidden;
}
#wrap #main #section5 .container .gap .content .gallery-box ul {
  width: 100%;
}
#wrap #main #section5 .container .gap .content .gallery-box ul::after {
  content: "";
  display: block;
  clear: both;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li {
  width: 25%;
  float: left;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap {
  width: auto;
  margin: 0 0 11px 11px;
  overflow: hidden;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap a {
  display: block;
  width: 100%;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap a figure {
  width: 100%;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap a figure img {
  width: 100%;
  transition: all 0.3s;
}
#wrap #main #section5 .container .gap .content .gallery-box ul li .col-gap a figure img:hover {
  transform: scale(1.2);
  opacity: 0.2;
  cursor: url(../img/icon-zoom.png), auto;
}
#wrap #main #section6 {
  position: relative;
  width: 100%;
  height: 760px;
  background: url(../img/wedding-img16.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 130px 0;
}
#wrap #main #section6::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.6);
}
#wrap #main #section7 {
  width: 100%;
  height: 599.375px;
  padding: 130px 0;
  background: #fff;
}
#wrap #main #section8 {
  width: 100%;
  height: 932.25px;
  padding: 130px 0;
  background: #f7f7f7;
}
#wrap #main #section9 {
  width: 100%;
  height: 874.594px;
  padding: 130px 0;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
#wrap #main #section10 {
  width: 100%;
  height: 504.375px;
  padding: 130px 0 80px 0;
  background: #fff;
}
#wrap #main #section11 {
  width: 100%;
  height: 420px;
  background: #fff;
}
#wrap #main #section11 iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
#wrap #footer {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 300px;
  background: #dcdcdc;
}