@media all and (max-width:1170px) {
    #wrap {
        #main {
            #section5 {

                padding: 11.11111vw 0;

                .container {

                    max-width: 100%;

                    .gap {

                        .title {

                            padding: 0 0 6.837607vw 0;

                            h2 {

                                font-size: 2.051282051vw;


                                .content {
                                    width: 100%;

                                    .gallery-box {
                                        width: 100vw + 0.94017094vw;
                                        margin: 0 0 0 -0.94017094vw;


                                        li {
                                            float: left;
                                            width: calc(100% / 4);

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
        





        @media all and (max-width:1170px) {
            #section5 {



                .container {

                    .gap {


                        .content {
                            .gallery-box {
                                ul {


                                    li {
                                        float: left;
                                        width: calc(100% / 3);

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }






        @media all and (max-width:800px) {
            #section5 {
                .container {
                    .gap {
                        .content {
                            .gallery-box {
                                ul {
                                    li {
                                        float: left;
                                        width: calc(100% / 2);

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }





        @media all and (max-width:500px) {
            #section5 {
                .container {
                    .gap {
                        .content {
                            .gallery-box {
                                ul {
                                    li {
                                        float: left;
                                        width: calc(100% / 1);

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }