@import url(./fonts.css);
@import url(./reset.css);
@import url(./skip.css);


#wrap{
  width: 100%;

  #header{
    width: 100%;
  }
  #main{
    width: 100%;
    #sectionGallery{
      width: 100%;
      padding: 130px 0;
      .container{
        width: 100%;
        
        .gap{
          width: 100%;
          .title{
            width: 100%;
            text-align: center;
            padding: 0 0 60px 0;
            h2{
              width: 100%;
              font-size: 24px;
              font-weight: 600;
              color: #2283d4;
              // text-decoration:line-through ; 글자에 취소선 생김

            }
          }
          .content{
            width: 100%;
            
            #gallery-nav{
              width: 100%;
             display: flex;
             justify-content: center;
             padding: 0 0 60px 0;
              ul{
                display: flex;
                flex-flow: row wrap;
                @media all and (max-width:500px){
                 display: block;
                }
                li{
                  margin: 0 1.313715187vw;
                  @media all and (max-width:500px){
                    margin: 15px 0;
                    width: auto;
                    text-align: center;
                  }

                  a{
                    color: #9b9b9b;
                    font-size: 13px;
                    font-weight: 600;
                    transition: all 0.3s;
                    display: block;
                    padding: 0 0 6px 0;
                    @media all and (max-width:500px){
                      display: inline-block;
                    }
                    &::after{
                      content:'';
                      margin: 4px 0 0 0;
                      display: block;
                      width: 100%;
                      height: 2px;
                      // background: transparent; //투명 색상
                      background: rgba(34,131,212, 0); //투명 색상
                      transition: all 0.3s;
                      
                    }
                    // &:hover{
                    //   color: #626262;
                    //   background-color: rgba(34,131,212, 1);
                    // }
                    // &.on{
                    //   color: #626262;
                    //   background-color: rgba(34,131,212, 1);
                    // }
                    &:hover::after{
                      color: #626262;
                      background-color: rgba(34,131,212, 1);
                    }
                    &.on::after{
                      color: #626262;
                      background-color: rgba(34,131,212, 1);
                    }
                    
                    
                  }
                }
              }
            }
            #gallery-box{
              width: 100%;
              ul{
                
                width: 100%;
                position: relative;
                height: 356.8215px * 2 ; //8개 4칸인 경우 2줄 높이 * 줄수
                // height: 475.75px * 3 ; //8개 3칸인 경우 3줄
                // height: 713.625px * 4 ; //8개 2칸인 경우 4줄
                // height: 1427.25px * 8 ; //8개 1칸인 경우 8줄
                overflow: hidden;
                // display: flex;
                // flex-flow: row wrap;
               li{  //해상도에 따라 칸수 지정
                position: absolute;
                width: calc(100% / 4);  /* 25% */
                // width: calc(100% / 3);   /* 33.333% */
                // width: calc(100% / 2);   /* 50% */
                // width: calc(100% / 1);   /*  100% */
                height: 356.8125px;  /*  4칸 */
                // height: 475.75px;    /* 3칸 */
                // height: 713.625px;   /* 2칸 */
                // height: 1427.25px;   /*  1칸 */


                //8개 4칸인 경우
                &:nth-child(1){top: 356.8125px * 0; left: 25% * 0;}
                &:nth-child(2){top: 356.8125px * 0; left: 25% * 1;}
                &:nth-child(3){top: 356.8125px * 0; left: 25% * 2;}
                &:nth-child(4){top: 356.8125px * 0; left: 25% * 3;}

                &:nth-child(5){top: 356.8125px * 1; left: 25% * 0;}
                &:nth-child(6){top: 356.8125px * 1; left: 25% * 1;}
                &:nth-child(7){top: 356.8125px * 1; left: 25% * 2;}
                &:nth-child(8){top: 356.8125px * 1; left: 25% * 3;}

                // // 3칸인 경우
                // &:nth-child(1){top: 475.75px * 0; left: 33.333% * 0;}
                // &:nth-child(2){top: 475.75px * 0; left: 33.333% * 1;}
                // &:nth-child(3){top: 475.75px * 0; left: 33.33475.75;}

                // &:nth-child(4){top: 475.75px * 1; left: 33.333% * 0;}
                // &:nth-child(5){top: 475.75px * 1; left: 33.333% * 1;}
                // &:nth-child(6){top: 475.75px * 1; left: 33.33475.75}
                
                // &:nth-child(7){top: 475.75px * 2; left: 33.333% * 0;}
                // &:nth-child(8){top: 475.75px * 2; left: 33.333% * 1;}

                // // 2칸인 경우
                // &:nth-child(1){top: 713.625px * 0; left: 50% * 0;}
                // &:nth-child(2){top: 713.625px * 0; left: 50% * 1;}

                // &:nth-child(3){top: 713.625px * 1; left: 50% * 0;}
                // &:nth-child(4){top: 713.625px * 1; left: 50% * 1;}

                // &:nth-child(5){top: 713.625px * 2; left: 50% * 0;}
                // &:nth-child(6){top: 713.625px * 2; left: 50% * 1;}

                // &:nth-child(7){top: 713.625px * 3; left: 50% * 0;}
                // &:nth-child(8){top: 713.625px * 3; left: 50% * 1;}


                // // 1칸인 경우  8줄
                // &:nth-child(1){top: 1427.25px * 0; left: 50% * 0;}
                // &:nth-child(2){top: 1427.25px * 1; left: 50% * 0;}
                // &:nth-child(3){top: 1427.25px * 2; left: 50% * 0;}
                // &:nth-child(4){top: 1427.25px * 3; left: 50% * 0;}
                // &:nth-child(5){top: 1427.25px * 4; left: 50% * 0;}
                // &:nth-child(6){top: 1427.25px * 5; left: 50% * 0;}
                // &:nth-child(7){top: 1427.25px * 6; left: 50% * 0;}
                // &:nth-child(8){top: 1427.25px * 7; left: 50% * 0;}
                  // &:nth-child(1){
                  //   top: 0;
                  //   left: 0;
                  // }

                  
                  .col-gap{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    
                    .img-box{
                      width: 100%;
                      height: 100%;
                      transition: all 0.3s;
                      //스케일
                      transform: scale(0);
                      &.addZoom{
                        transform: scale(1);
                      }
                      &:hover{
                        margin: -86px 0 0 0;
                      }

                      img{
                        width: 100%;
                      }
                      figcaption{
                        padding: 25px;
                        text-align: center;
                        h3{
                          font-size:15px ;
                          font-weight: 600;
                          color: #000;
                          padding: 0 0 10px 0;
                        }
                        h4{
                          font-size:11px ;
                          font-weight: 500;
                          color: #626262;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #footer{
    width: 100%;
  }
}

