
#wrap {
    width:100%;
    #main {
        width:100%;
        #section5 {
            width:100%;
            padding: 120px 0 0 0;
            .container {
                width:100%;
                .gap {
                    width:100%;
                    .title{
                        width:100%;
                        text-align: center;
                        padding: 0 0 95.141px 0;
                        h1{
                            font-size: 36px;
                            font-weight: 700;
                            letter-spacing: 1px;
                            line-height: 45px;
                            text-transform: uppercase;
                            color: #000;
                        }
                        h2 {
                            width:100%;
                            font-size: 13px;
                            letter-spacing: 1px;
                            line-height: 20px;
                            text-transform: uppercase;
                            color: rgb(98,98,98);
                            font-weight: 600;
                            margin: 19.016px 0;
                            // text-decoration: line-through;
                        }
                    }
                    .content {
                        width:100%;
                        #travel-nav {
                            width:100%;
                            display: flex;
                            justify-content: center;
                            margin: 15px 15px;
                            ul {    
                                padding: 0 0 15px 15px;
                                display: flex;
                                flex-flow: row wrap;
                                cursor: pointer;
                                
                                @media all and (max-width:500px) {
                                    display: block;
                                }
                                li {
                                                                   
                                    margin: 0 1.313715187vw;                                 
                                    @media all and (max-width:500px) {
                                        margin: 15px 0;
                                        width: auto;
                                        text-align: center;
                                    }
                                    a {
                                        color:#000;
                                        font-size: 13px;
                                        font-weight: 600;
                                        transition: all 0.3s;
                                        display: block;   
                                        @media all and (max-width:500px) {
                                            display: inline-block; 
                                        }                                     
                                        &::after {
                                            content:'';
                                            margin: 4px 0 0 0;
                                            display: block;
                                            width: 100%;
                                            height: 2px;
                                            
                                            background: rgba(34, 131, 212, 0); 
                                            transition: all 0.3s;
                                        }
                                        &:hover {
                                            color:#626262;                                           
                                        }
                                        &.on {
                                            color:#626262;
                                        }
                                        &:hover::after {
                                            background-color: #000;                                        
                                        }
                                        &.on::after {
                                            background-color: #000;
                                        }
                                        
                                    }
                                }
                                
                            }
                        }
                        #travel-box {
                            width: 100%;
                            ul {
                                width: 100%;
                                // height: 336.8125px *  2 ;    

                                position: relative;
                                // overflow: hidden; 
                                li {  
                                    position: absolute;                                    
                                    width: calc(100% /4);  
                                    // height: 3.8125px;      
                                    
                                    &:nth-child(1){top: 336.8125px * 0;left: 25% * 0;
                                        border: 0;
                                    }
                                    &:nth-child(2){top: 336.8125px * 0;left: 25% * 1;}
                                    &:nth-child(3){top: 336.8125px * 0;left: 25% * 2;}
                                    &:nth-child(4){top: 336.8125px * 0;left: 25% * 3;}

                                    &:nth-child(5){top: 366.8125px * 1;left:  25% * 0;
                                        border: 0;
                                    }
                                    &:nth-child(6){top: 366.8125px * 1;left:  25% * 1;}
                                    &:nth-child(7){top: 366.8125px * 1;left:  25% * 2;}
                                    &:nth-child(8){top: 366.8125px * 1;left:  25% * 3;}
                                    &:hover{
                                        .col-gap{
                                            figcaption{
                                                // margin: -86px 0 0 0;
                                                transform: translateY(-45px);
                                                transition: all 0.3s;
                                            }
                                        }
                                    }
                                    .col-gap {
                                        width: 100%;
                                        height: 100%;
                                        overflow: hidden; 
                                        padding: 0 0 15px 15px;
                                        overflow-y: hidden;
                                        overflow-x: hidden;
                                        &:hover{
                                            cursor: url(../img/icon-zoom-white.png), auto;
                                        }
                                        .img-box {
                                            z-index: 1;
                                            position: relative;
                                            width: 100%;
                                            height: 287.969px;
                                            transition: all 0.3s ease-in-out;
                                            &:hover{
                                                img{
                                                    filter: brightness(0.5);
                                                }
                                               
                                            }
                                            
                                            transform: scale(0);
                                            &.addZoom{
                                                transform: scale(1);
                                            }
                                            &:hover {
                                                // margin: -86px 0 0 0;
                                                // height: 200px;
                                            }
                                            img {
                                                width: 100%;
                                                height: 100%;
                                            }
                                            
                                        }
                                        figcaption {
                                            transition: all 0.3s;
                                            transform:translateY(0px);
                                            z-index: 2;
                                            position: relative;
                                            padding: 40px 0 30px 0;
                                            text-align: center;
                                            background: #fff;
                                            
                                            h3 {
                                                font-size: 13px;
                                                
                                                font-weight: 400;
                                                letter-spacing: 4px;
                                                text-transform: uppercase;
                                                &:hover{
                                                    cursor: pointer;
                                                    color: #000;

                                                }
                                                
                                            }
                                            h4 {
                                                font-size: 11px;
                                                letter-spacing: 3px;
                                                line-height: 23px;
                                                text-transform: uppercase;
                                                color: rgb(136,136,136);
                                                }
                                                button{
                                                    padding: 2px 14px;
                                                    border: 2px solid #000;
                                                    font-size: 11px;
                                                    font-weight: 600;
                                                    letter-spacing: 1px;
                                                    line-height: 23px;
                                                    text-align: center;
                                                    background: #000;
                                                    color: #fff;
                                                    text-transform: uppercase;
                                                    margin: 30px 0;
                                                    cursor: pointer;
                                                    &:hover{
                                                        background: #fff;
                                                        color: #000;
                                                    }
                                                }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}