* {margin: 0; padding: 0; vertical-align: middle; box-sizing: border-box;}
html,body{
    width: 100%;
    height: 100%;
}
body{
    font: normal 15px/1 "맑은고딕", 'arial'; 
    color: #444;
    background: #fff;
}
#wrap{
    width: 100%;
}
#wrap .top{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: right;
    padding: 20px 0;
}
#wrap .top a:hover {
    color: rgb(51, 153, 204, 1);
}
#wrap form{
    padding: 150px 150px 100px 150px;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
    border-radius: 5px;
}
#wrap form table{
    width: 100%;
}
#wrap form label input{
    padding: 0 50px;
}
#wrap form table th,td{
    width: 100%;
}
#wrap form table th{
    height: 180px; 
    font-size: 50px; 
    color: #000;
    font-weight: 500;
}
#wrap form table td{
    height: 70px;
}

