<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

<servlet>
	<servlet-name>marker_kurly</servlet-name>
	<servlet-class>servlet_project_01.kurly.SecondServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>marker_kurly</servlet-name>
	<url-pattern>/second</url-pattern>
</servlet-mapping>

</web-app>